$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

// General

.nowrap {
	white-space: nowrap;
}

.font {
	font-family: 'Teko', sans-serif;
	color: #fff;
}

.bg-grad {
	background-image: linear-gradient(
		to right,
		rgb(0, 0, 0),
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.25)
	);
}

.bg-set-1 {
	background-image: url('../assets/home/img-1.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-2 {
	background-image: url('../assets/home/img-2.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-3 {
	background-image: url('../assets/home/img-3.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-4 {
	background-image: url('../assets/home/img-4.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-5 {
	background-image: url('../assets/home/img-5.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-6 {
	background-image: url('../assets/home/img-6.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-7 {
	background-image: url('../assets/home/img-7.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-8 {
	background-image: url('../assets/home/img-8.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-9 {
	background-image: url('../assets/home/img-9.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-10 {
	background-image: url('../assets/home/img-10.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-11 {
	background-image: url('../assets/home/img-11.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-12 {
	background-image: url('../assets/home/img-12.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-13 {
	background-image: url('../assets/home/img-13.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-14 {
	background-image: url('../assets/home/img-14.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-set-15 {
	background-image: url('../assets/home/img-15.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sub-font {
	font-family: 'Arimo', cursive;
	color: #fff;
}

.body-div {
	padding-top: 74px;
}

.main-bg {
	background-color: #343a40;
}

.bg-black {
	background-color: #000000;
}

.title-head {
	margin-bottom: 10px;
	font-size: 50px;
	margin: 0 0 10px 10px;
}

.sub-head {
	margin-bottom: 10px;
	font-size: 40px;
}

.sub-head-2 {
	margin-bottom: 10px;
	font-size: 30px;
	margin: 0 0 10px 10px;
}

.content-preset {
	font-size: 18px;
	color: #ffffff;
}

.body-presets {
	padding: 40px;
	min-height: 100vh;
}

.btn-presets {
	width: 190px;
	margin: 10px;
}

.center-item-screen {
	display: flex;
	justify-content: center;
}

// Home

.home-logo {
	width: 300px;
}

.bg-home {
	background-color: #000000;
}

// Navbar

.nav-link-format {
	font-family: 'Teko', sans-serif;
	font-size: 25px;
	margin-top: 5px;
}

// Forms

.form-body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 1.5rem;
}

.main-form-group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 50vw;
}

.main-form-field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid $gray;
	outline: 0;
	font-size: 1.3rem;
	color: $white;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;

	&::placeholder {
		color: transparent;
	}

	&:placeholder-shown ~ .main-form-label {
		font-size: 1.3rem;
		cursor: text;
		top: 20px;
	}
}

.main-form-label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: $gray;
}

.main-form-field:focus {
	~ .main-form-label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: $primary;
		font-weight: 700;
	}
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, $primary, $secondary);
	border-image-slice: 1;
}
/* reset input */
.main-form-field {
	&:required,
	&:invalid {
		box-shadow: none;
	}
}

// User form

.main-user-form-field {
	font-family: inherit;
	border-radius: 10px;
	width: 100%;
	border: 2px solid $gray;
	outline: 0;
	font-size: 1rem;
	color: $white;
	padding: 7px;
	background: transparent;
	transition: border-color 0.2s;
}

.main-user-form-field:focus {
	border: 2px solid #077067;
}

// Group display card

.grp-card-sec {
	width: 75vw;
	padding: 10px;
	border: 1px solid #ffffff;
	border-radius: 4px;
	background-color: transparent;
}

.card-div {
	background-color: transparent;
	color: #ffffff;
	font-size: 20px;
}

.btn-circle {
	width: 50px;
	height: 50px;
	border: 1px solid #ffffff;
	text-align: center;
	padding: 6px 0;
	background-color: transparent;
	border-radius: 50%;
	color: #ffffff;
}

.btn-circle:hover {
	background-color: #ffffff;
	color: #000000;
	transition: 0.3s;
}

.btn-circle-full {
	width: 50px;
	height: 50px;
	border: 1px solid #ffffff;
	text-align: center;
	padding: 6px 0;
	background-color: #ffffff;
	color: #000000;
	border-radius: 50%;
}

.btn-circle-full:hover {
	background-color: transparent;
	color: #ffffff;
	transition: 0.3s;
}

.btn-circle-danger {
	width: 50px;
	height: 50px;
	border: 1px solid #ff0000;
	text-align: center;
	padding: 6px 0;
	background-color: transparent;
	border-radius: 50%;
	color: #ff0000;
}

.btn-circle-danger:hover {
	background-color: #ff0000;
	color: #000000;
	transition: 0.3s;
}
