$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap');

// General

.font {
	font-family: 'Teko', sans-serif;
	color: #fff;
}

.body-div {
	padding-top: 74px;
}

// Home

.container-home {
	width: 100vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-home {
	width: 40vw;
}

// Navbar

.nav-link-format {
	font-family: 'Teko', sans-serif;
	font-size: 25px;
	margin-top: 5px;
}

// Forms

.main-body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 1.5rem;
	background-color: #222222;
}

.main-heading {
	color: $white;
	font-size: 50px;
}

.final-price {
	color: $white;
}

.divider {
	background-color: #222222;
}

.main-form-group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 50vw;
}

.main-form-field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid $gray;
	outline: 0;
	font-size: 1.3rem;
	color: $white;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;

	&::placeholder {
		color: transparent;
	}

	&:placeholder-shown ~ .main-form-label {
		font-size: 1.3rem;
		cursor: text;
		top: 20px;
	}
}

.main-form-label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: $gray;
}

.main-form-field:focus {
	~ .main-form-label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: $primary;
		font-weight: 700;
	}
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, $primary, $secondary);
	border-image-slice: 1;
}
/* reset input */
.main-form-field {
	&:required,
	&:invalid {
		box-shadow: none;
	}
}

// User Profile

.pro-img {
	border: 3px solid $white;
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

.pro-body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 1.5rem;
	background-color: #222222;
}

.user-info {
	color: $white;
}

.user-self-bio {
	color: $white;
	font-size: 18px;
}

.meta-container {
	width: 100vw;
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}

.profile-container {
	margin: 30px;
}

.pro-bg-img {
	height: 35vh;
	width: 100vw;
}

.divider-small {
	margin: 5px;
	background-color: #222222;
}

// User form

.main-user-form-field {
	font-family: inherit;
	border-radius: 10px;
	width: 100%;
	border: 2px solid $gray;
	outline: 0;
	font-size: 1rem;
	color: $white;
	padding: 7px;
	background: transparent;
	transition: border-color 0.2s;
}

.main-user-form-field:focus {
	border: 2px solid #077067;
}

// Shopping Cart & Checkout

.cart-body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	padding: 40px;
	min-height: 100vh;
	font-size: 1.5rem;
	background-color: #222222;
}

.item-card-checkout {
	width: 25vw;
	padding: 10px;
	border: 2px solid $primary;
	margin: 10px 0;
	border-radius: 15px;
	background-color: #414141;
}

.item-card-checkout:hover {
	background-color: #7a7a7a;
}

.cart-head {
	color: $white;
	margin-bottom: 10px;
}

.cart-item,
.cart-item-price {
	color: $white;
	font-size: 18px;
}

.cart-btn {
	width: 120px;
}

// Events

.main-body-event {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	padding: 40px;
	min-height: 100vh;
	font-size: 1.5rem;
	background-color: #222222;
}

.event-head {
	color: $white;
	margin-bottom: 10px;
	font-size: 30px;
	margin: 0 0 10px 10px;
}

.event-card {
	width: 75vw;
	padding: 10px;
	border: 2px solid $primary;
	margin: 10px 0;
	border-radius: 10px;
	background-color: #414141;
}

.event-card:hover {
	background-color: #7a7a7a;
}

.ev-card-title {
	color: $white;
	margin: 5px;
	font-size: 18px;
}

.ev-card-content {
	color: $white;
	margin: 5px;
	font-size: 14px;
}

// Event display

.main-body-event-disp {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	padding: 40px;
	min-height: 100vh;
	font-size: 1.5rem;
	background-color: #222222;
}

.event-disp-head {
	color: $white;
	margin-bottom: 10px;
	font-size: 30px;
	margin: 0 0 10px 10px;
}

.arr-btn {
	width: 175px;
	margin: 10px;
}

.ev-disp-subtitle {
	color: $white;
	margin: 5px;
	font-size: 18px;
}

.ev-disp-title {
	color: $white;
	margin: 5px;
	font-size: 22px;
	font-weight: 800;
}

// Group display card

.grp-card-sec {
	width: 75vw;
	padding: 10px;
	border: 2px solid $primary;
	margin: 10px 0;
	border-radius: 10px;
	background-color: #414141;
}

.card-div {
	background-color: #414141;
	color: $white;
	font-size: 20px;
}

.user-img-card {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 2px solid white;
	margin: 0 25px;
}

.meta-user-card {
	height: 150px;
	width: 200px;
	display: flex;
	justify-content: center;
	border: 2px solid transparent;
	border-radius: 10px;
}

.meta-user-card:hover {
	border: 2px solid $primary;
	border-radius: 10px;
	background-color: #7a7a7a;
}

.user-name-grp {
	color: white;
}

.grp-name-head {
	color: white;
	font-size: 28px;
	font-weight: 800;
}

// Sport card

.sport-card {
	width: 200px;
	height: 230px;
	padding: 10px;
	border: 2px solid $primary;
	margin: 10px 0;
	border-radius: 10px;
	background-color: #414141;
	display: flex;
	align-content: center;
	justify-content: center;
}

.sport-card:hover {
	background-color: #7a7a7a;
}

.spt-cd-wrapper {
	width: 200px;
	margin: 0 10px;
}

.sport-card-title {
	color: $white;
	margin: 5px;
	font-size: 18px;
	width: max-content;
}

.sport-card-img {
	height: 150px;
	width: 150px;
	border: 2px solid white;
	border-radius: 50%;
}

// Sport display

.meta-container-spt-disp {
	width: 75vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.main-body-sport {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	padding: 40px;
	min-height: 100vh;
	font-size: 1.5rem;
	background-color: #222222;
}

.sport-card-content {
	color: $white;
	margin: 5px;
	font-size: 14px;
	width: max-content;
}

.events-title-spt {
	color: $white;
}

.main-body-sport-disp {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	padding: 40px;
	min-height: 100vh;
	font-size: 1.5rem;
	background-color: #222222;
}

.sport-disp-head {
	color: $white;
	margin-bottom: 10px;
	font-size: 30px;
	margin: 0 0 10px 10px;
}

.sport-arr-btn {
	width: 175px;
	margin: 10px;
}

.sport-disp-subtitle {
	color: $white;
	margin: 5px;
	font-size: 18px;
}

.sport-disp-title {
	color: $white;
	margin: 5px;
	font-size: 22px;
	font-weight: 800;
}

.sport-img-disp {
	height: 300px;
	width: 600px;
	border-radius: 15px;
}

.sport-description {
	color: white;
	font-size: 16px;
}
